.inline-flex {
    display: inline-flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* align-content: space-evenly; */
}

#title {
    /* margin-left: 10px; */
}

#logo {
    width: 100px;
    height: 100px;
    /* margin-right: 100px; */
}